{{ partial "header.html" . }}

<ul>
    <!-- Ranges through content/blog/*.md -->
    {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
    {{ range (.Paginator 5).Pages }}  
    <li>
        <a href="{{.RelPermalink}}">{{ .Title }}</a>
        <span><time>{{ .Date.Format "January 2, 2006" }}</time> {{ if .Params.External }} — <span >for {{ .Params.External.Host }}</span> {{ end }}</span>
                         
        <div>
            {{ .Summary }} <!-- automatically takes the first paragraph in the .md article -->
        </div>
 
        <p><small><a href="{{.RelPermalink}}">Read more ››</a></small></p>
    </li>
 
    {{ end }}
</ul>
 
{{ partial "pagination.html" . }}
{{ partial "footer.html" . }}