{{ partial "header.html" . }}

<main>
    <article>
        <span><time class="pub_date">{{ .Date.Format "January 2, 2006" }}</time> {{ if .Params.External }} — <span >for {{ .Params.External.Host }}</span>        {{ end }}</span>
        <h1 class="single__title">{{ .Title }}</h1>
        <div class="single__content">
            {{ .Content }}
        </div>

        <div>
            {{ template "_internal/disqus.html" . }}
        </div>
    </article>
</main>

{{ partial "related_posts.html" . }}

{{ partial "footer.html" . }}