{
    "env": {
      "es6": true,
      "browser": true,
      "node": true,
      "jquery": true
    },
    "rules": {
      "arrow-parens": 0,
      "single": 0,
      "comma-dangle": 0,
      "semi": 0,
      "no-unused-vars": [1, { "argsIgnorePatterns": "res|next|^err" }],
      "indent": 0,
      "eol-last": 0,
      "max-len": 0,
      "object-curly-spacing": 1
    }
  }
  