@media screen and (min-width: 60em) {
  body {
    width: 55%;
  }

  /* menu styles start */
  .menu_tab {
    display: none;
  }

  .menu__item {
    padding: 0px 20px 0px 0px;
  }
  /* menu styles end */
}
