@media screen and (min-width: 30em) and (max-width: 60em) {
  body {
    width: 80%;
  }

  .menu_tab {
    top: 1em;
    right: 2em;
  }

  .menu__item {
    padding: 0px 20px 0px 0px;
    font-size: 1rem;
  }

  .title {
    padding: 0px 0px 20px 0;
    flex-direction: row;
  }

  .header.header__text {
    min-width: 19em;
    padding: 0px;
  }

}
